<!DOCTYPE html>
<html>

<head>
    <title>Passport with Sequelize</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h2>Dashboard</h2>
    <h2>Hurray! you are logged in 🥳.</h2>

</body>

</html>